body {
    background-color: cadetblue;
    color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

button {
    background-color: darkblue;
    color: aliceblue;
    
}